.ease-out {
  transition: all 0.1s ease-out;
}

[contenteditable='true']:empty::before {
  content: attr(placeholder);
  color: #718096;
  outline: none;
  border: none;
}
[contenteditable='true']:focus {
  outline: none;
  border: none;
}

.nav-bar-hidden {
  transform: translateX(-50vw) !important;
  width: 0 !important;
  transition: all 0.2s ease-out;
}

.nav-bar {
  transform: translateX(0);
  width: fit-content;
  transition: all 0.2s ease-out;
}
